* {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
    margin: 0;
    width: 100%;
}

body {
    background-image: url("../assets/images/spiration-light.png");
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h1 {
    color: #4aaaa5;
    height: 100%;
    padding: 20px;
}

h1, h2 {
    font-weight: bold;
}

h2 {
    border-bottom: 2px solid #cccccc;
    color: #4aaaa5;
    margin-bottom: 30px;
    padding: 15px;
}

.navbar {
    border-bottom: 2px solid #cccccc;
    margin-bottom: 40px;
}

.nav-item {
    border-right: 1px solid #cccccc;
    margin: 15px 0 15px 0;
    padding: 5px;
}

.wrapper {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto -50px;
}

.container {
    width: 960px;
}

.col-8 {
    background-color: #ffffff
}

.bio-image {
    display: block;
    float: left;
}

.bio-info {
    float: right;
}

.portfolio-container {
    background-color: #ffffff
}

h3 {
    color: #4aaaa5;
    font-size: 32px;
    font-weight: bold;
    padding: 15px;
}

.heading-row {
    border-bottom: 2px solid #cccccc;
}

.main {
    background-color: #ffffff
}

.btn {
    background-color: #4aaaa5;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-bottom: 30px;
}

.btn:hover {
    background-color: #16F5C4;
    color: #ffffff;
}

.btn:focus {
    background-color: #16F5C4;
    color: #ffffff;
}

.btn:active {
    background-color: #56A8E3;
    color: #ffffff;
}

footer,
.push {
  height: 50px;
}

.page-footer {
    border-top: 2px solid #cccccc;
    margin-top: 60px;
}